---
import type { Lang } from "@/i18n/config";
import Header from "./Header.astro";
import Hero from "./Hero.astro";
import About from "./About.astro";
import Menu from "./Menu.astro";
import Contact from "./Contact.astro";
import Order from "./Order.astro";

interface Props {
  lang: Lang;
}
const { lang } = Astro.props;
---

<Header lang={lang} />
<main>
  <Hero lang={lang} />
  <About lang={lang} />
  <Menu lang={lang} />
  <Contact lang={lang} />
  <Order lang={lang} />
</main>
